<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Hydroponics_application.Properties.Settings.HYDROPONICSAPPConnectionString"
            connectionString="Data Source=MY-DESKTOP\SQLEXPRESS;Initial Catalog=HYDROPONICSAPP;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Hydroponics_application.Properties.Settings.HYDROPONICS_TESTConnectionString"
            connectionString="Data Source=MY-DESKTOP\SQLEXPRESS;Initial Catalog=HYDROPONICS_TEST;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>